.contain{
  display: flex;
  justify-content: center;
  align-content: center;
}

*{
  background-color: burlywood;
}


img{
  width: 100px;
  float: left;
}

.pizza-con{
  display: flex;
  background-color: burlywood;
  max-width: 740px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  width: 90%;
}

.pizza-con::after{
  content: "";
  width: 40%;
}

.pizza{
  width: 40%;
  display: flex;
  gap: 4px;
}